// *********    déclaration des fonts   **********

// *********    déclaration des variables   **********

// *********    déclaration des mixins  **********


// *********    paramètres généraux     *********
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

button {
    user-select: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: unset;
}