@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  background-color: rgb(33, 33, 30);
  text-align: center;
  margin: 0 auto;
  font-family: poppins, arial;
  max-width: 1515px;
  min-height: 100vh;
  min-width: 340px;
}

html {
  scroll-behavior: smooth;
}

li,
a {
  color: rgb(230, 230, 230);
}

h2 {
  font-family: allura, arial;
  color: rgb(173, 135, 101);
  font-weight: 100;
  font-size: 1.9rem;
}

p {
  font-family: roboto, arial;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: unset;
}

footer {
  position: relative;
  background: url(../img/bg-footer.webp) center/cover;
}
@media screen and (max-width: 890px) {
  footer {
    background: rgb(33, 33, 30);
    height: 400px;
  }
}
@media screen and (max-width: 630px) {
  footer {
    height: 250px;
  }
}
footer .grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 890px) {
  footer .grid-container {
    display: block;
    padding: 40px 0;
  }
}
@media screen and (max-width: 630px) {
  footer .grid-container {
    display: block;
    padding: 40px 0;
  }
}
footer .grid-container .left-part {
  text-align: left;
  padding-right: 30px;
}
@media screen and (max-width: 630px) {
  footer .grid-container .left-part {
    display: none;
  }
}
footer .grid-container .left-part h3 {
  font-family: allura, arial;
  font-weight: 100;
  color: rgb(197, 149, 108);
  text-transform: capitalize;
  height: 35px;
  font-size: 2.5rem;
}
footer .grid-container .left-part p {
  color: rgb(230, 230, 230);
  font-size: 0.8rem;
  line-height: 25px;
  margin-top: 30px;
}
@media screen and (max-width: 890px) {
  footer .grid-container .left-part p {
    margin-bottom: 30px;
  }
}
footer .grid-container .right-part {
  text-align: left;
  padding-left: 50px;
}
@media screen and (max-width: 630px) {
  footer .grid-container .right-part {
    padding: 0;
  }
}
footer .grid-container .right-part h5 {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: roboto, arial;
  margin: 10px 0;
}
footer .grid-container .right-part input {
  background-color: rgb(33, 33, 30);
  height: 30px;
  width: 220px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  margin-bottom: 40px;
}
footer .grid-container .right-part .network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .grid-container .right-part h5 {
  width: 40%;
}
footer .grid-container .right-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .grid-container .right-part li {
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.575);
}
footer .grid-container .right-part li i {
  margin: 3px;
  width: 15px;
}
footer .grid-container .right-part li i:hover {
  cursor: pointer;
  font-size: 1rem;
  color: rgba(168, 168, 168, 0.575);
}
footer::after {
  content: "by Thallions";
  font-family: allura, arial;
  font-size: 1.3rem;
  color: rgb(197, 149, 108);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

header {
  z-index: 0;
  background: url(../img/bg-slider-06.webp) center/cover;
  height: 100vh;
  width: 100%;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 920px) {
  header nav {
    width: 50%;
  }
}
header nav h2 {
  margin: 0 10px;
  color: rgb(230, 230, 230);
  font-weight: 600;
}
@media screen and (max-width: 920px) {
  header nav h2 {
    width: 50%;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}
header nav li {
  padding: 10px;
}
header nav a {
  width: 15px;
  height: 15px;
}
header nav i:hover {
  cursor: pointer;
  font-size: 1rem;
  color: rgba(168, 168, 168, 0.87);
}
header nav .ul-nav {
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 60px;
  text-transform: uppercase;
  font-family: roboto, arial;
  font-size: 0.7rem;
}
@media screen and (max-width: 920px) {
  header nav .ul-nav {
    display: none;
  }
}
header nav .network {
  width: 122px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
}
@media screen and (max-width: 920px) {
  header nav .network {
    width: 50%;
    min-width: 122px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 auto;
  }
}
header .header-content {
  margin-top: 200px;
}
header .header-content h2 {
  font-size: 3rem;
  font-weight: 100;
}
header .header-content h1 {
  color: rgb(230, 230, 230);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 4rem;
}
header .header-content img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  margin: 40px 0;
}
header .header-content p {
  font-family: roboto, arial;
  color: rgb(230, 230, 230);
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  letter-spacing: 6px;
}

.section-1 .part-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(238, 238, 238);
}
@media screen and (max-width: 700px) {
  .section-1 .part-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-1 .part-container .left-part {
  background-color: rgb(238, 238, 238);
  padding: 0 20px;
  padding: 30px;
}
@media screen and (max-width: 700px) {
  .section-1 .part-container .left-part {
    border: 1px dashed rgb(197, 149, 108);
    margin: 20px;
  }
}
.section-1 .part-container .left-part h2 {
  height: 35px;
  font-size: 2.5rem;
}
.section-1 .part-container .left-part h3 {
  text-transform: uppercase;
}
.section-1 .part-container .left-part img {
  height: 30px;
  margin: 25px;
}
.section-1 .part-container .left-part h3 {
  text-transform: uppercase;
}
.section-1 .part-container .left-part p {
  font-size: 0.9rem;
  margin-bottom: 30px;
}
.section-1 .part-container .left-part #cooker {
  border-radius: 100px;
  height: 80px;
  margin: 0;
}
.section-1 .part-container .left-part h4 {
  letter-spacing: 1px;
}
.section-1 .part-container .left-part h4,
.section-1 .part-container .left-part h5 {
  font-family: roboto, arial;
}
.section-1 .part-container .left-part h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(183, 183, 185);
  margin-top: 3px;
}
.section-1 .part-container .right-part {
  background: url(../img/store-01.webp) center/cover;
}
@media screen and (max-width: 700px) {
  .section-1 .part-container .right-part {
    display: none;
  }
}

.section-2 {
  position: relative;
  z-index: 100;
  height: 800px;
}
@media screen and (max-width: 920px) {
  .section-2 {
    height: 1140px;
  }
}
.section-2 .discover-container {
  padding: 30px;
}
.section-2 .discover-container h2 {
  height: 35px;
  font-size: 2.5rem;
}
.section-2 .discover-container h3 {
  text-transform: uppercase;
}
.section-2 .discover-container img {
  height: 30px;
  margin: 25px;
}
.section-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  margin: 0 auto;
  font-family: roboto, arial;
  color: rgb(230, 230, 230);
}
@media screen and (max-width: 920px) {
  .section-2 ul {
    width: 65%;
  }
}
@media screen and (max-width: 570px) {
  .section-2 ul {
    width: 100%;
    font-size: 0.8rem;
  }
}
.section-2 ul li {
  border-bottom: 1px solid rgb(183, 183, 185);
  height: 25px;
}
.section-2 ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.section-2 .menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  z-index: 2;
  background: rgb(238, 238, 238);
  width: 60%;
  margin: 10px 0;
  padding: 20px;
}
@media screen and (max-width: 920px) {
  .section-2 .menu {
    display: block;
    border-top: 5px solid rgb(197, 149, 108);
  }
}
@media screen and (max-width: 570px) {
  .section-2 .menu {
    width: 100%;
  }
}
.section-2 .menu .dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 100px;
  border-bottom: 1px dashed rgba(43, 30, 23, 0.233);
}
.section-2 .menu .price {
  color: rgb(197, 149, 108);
  font-family: roboto, arial;
  font-weight: 600;
  padding-left: 10px;
}
.section-2 .menu img {
  border-radius: 100px;
  height: 80px;
  margin: 20px;
}
.section-2 .menu .text {
  text-align: left;
  width: 100%;
}
.section-2 .menu .text .title-dish {
  text-transform: uppercase;
  font-family: roboto, arial;
  font-size: 0.8rem;
}
.section-2 .menu .text .ingredients {
  text-transform: capitalize;
  font-size: 0.8rem;
}
.section-2 .img-back {
  position: absolute;
  z-index: 0;
  bottom: 0;
  height: 500px;
  width: 100%;
  background: url(../img/bg-menu-01.webp) center/cover;
}

.section-3 .grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 75%;
  margin: 70px auto;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-3 .grid-container .left-part-container {
  background-color: rgb(0, 0, 0);
}
.section-3 .grid-container .left-part-container .left-part {
  background-color: rgb(0, 0, 0);
  border: 1px dashed rgb(238, 238, 238);
  margin: 20px;
}
.section-3 .grid-container .left-part-container .left-part .litle-header {
  padding-top: 30px;
}
.section-3 .grid-container .left-part-container .left-part .litle-header h2 {
  height: 35px;
  font-size: 2.5rem;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container .left-part-container .left-part .litle-header h2 {
    font-size: 3rem;
    height: 40px;
  }
}
.section-3 .grid-container .left-part-container .left-part .litle-header h3 {
  color: rgb(230, 230, 230);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container .left-part-container .left-part .litle-header h3 {
    font-size: 1.5rem;
    height: 40px;
  }
}
.section-3 .grid-container .left-part-container .left-part .litle-header img {
  height: 30px;
  margin: 25px;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container .left-part-container .left-part .litle-header img {
    height: 40px;
  }
}
.section-3 .grid-container .left-part-container .left-part .days-hours h2 {
  font-family: poppins, arial;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 30px 0 5px;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container .left-part-container .left-part .days-hours h2 {
    font-size: 1.2rem;
  }
}
.section-3 .grid-container .left-part-container .left-part .days-hours p {
  color: rgb(230, 230, 230);
  font-size: 0.7rem;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container .left-part-container .left-part .days-hours p {
    font-size: 0.9rem;
  }
}
.section-3 .grid-container .left-part-container .left-part .days-hours .numb {
  margin-bottom: 20px;
}
.section-3 .grid-container .right-part {
  padding: 30px;
  background-color: rgb(238, 238, 238);
  padding: 0;
}
.section-3 .grid-container .right-part h2 {
  height: 35px;
  font-size: 2.5rem;
}
.section-3 .grid-container .right-part h3 {
  text-transform: uppercase;
}
.section-3 .grid-container .right-part img {
  height: 30px;
  margin: 25px;
}
.section-3 .grid-container .right-part .litle-header {
  padding-top: 70px;
}
@media screen and (max-width: 690px) {
  .section-3 .grid-container .right-part .litle-header h2 {
    font-size: 3rem;
    height: 45px;
  }
}
.section-3 .grid-container .right-part .litle-header h3 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 690px) {
  .section-3 .grid-container .right-part .litle-header h3 {
    font-size: 1.5rem;
    height: 40px;
  }
}
.section-3 .grid-container .right-part .litle-header img {
  margin: 30px;
}
@media screen and (max-width: 1020px) {
  .section-3 .grid-container .right-part .litle-header img {
    height: 40px;
  }
}
.section-3 .grid-container .right-part form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 75%;
  margin: 0 auto;
  padding-right: 40px;
  gap: 20px;
}
@media screen and (max-width: 690px) {
  .section-3 .grid-container .right-part form {
    display: block;
    margin: 0 auto;
  }
}
.section-3 .grid-container .right-part form input {
  border: none;
  font-family: roboto, arial;
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid rgba(43, 30, 23, 0.233);
  height: 40px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 690px) {
  .section-3 .grid-container .right-part form input {
    display: block;
    min-width: 210px;
    margin: 0 auto;
  }
}
.section-3 .grid-container #btn {
  display: block;
  text-transform: uppercase;
  margin: 40px auto;
  width: 150px;
  height: 40px;
  font-family: poppins, arial;
  letter-spacing: 3px;
  color: rgb(230, 230, 230);
  background-color: rgb(33, 33, 30);
  border-radius: 100px;
}
.section-3 .grid-container #btn:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.section-4 {
  margin-bottom: 150px;
}
@media screen and (max-width: 810px) {
  .section-4 {
    display: none;
  }
}
.section-4 .litle-header {
  padding: 30px;
}
.section-4 .litle-header h2 {
  height: 35px;
  font-size: 2.5rem;
}
.section-4 .litle-header h3 {
  text-transform: uppercase;
}
.section-4 .litle-header img {
  height: 30px;
  margin: 25px;
}
.section-4 .litle-header h3 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: rgb(230, 230, 230);
  padding: 7px;
}
.section-4 .litle-header img {
  margin: 30px;
  height: 30px;
}
@media screen and (max-width: 1020px) {
  .section-4 .litle-header img {
    height: 40px;
  }
}
.section-4 .grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  grid-template-areas: "hb1 rp" "hb2 rp";
  row-gap: 20px;
}
.section-4 .grid-container .horizon-bloc {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-right: 20px;
}
.section-4 .grid-container .horizon-bloc .text {
  display: grid;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  -moz-text-align-last: left;
       text-align-last: left;
}
.section-4 .grid-container .horizon-bloc .text h4 {
  font-family: roboto, arial;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 100;
}
.section-4 .grid-container .horizon-bloc .text p {
  font-family: roboto, arial;
  text-transform: capitalize;
  color: rgba(128, 128, 128, 0.562);
  font-size: 0.8rem;
  margin: 20px 0;
}
.section-4 .grid-container .horizon-bloc .text button {
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.section-4 .grid-container .horizon-bloc .text button:hover {
  cursor: pointer;
  color: rgb(173, 135, 101);
}
.section-4 .grid-container #img-1 {
  background: url(../img/event-01.webp) center/cover;
}
.section-4 .grid-container #img-2 {
  background: url(../img/event-02.webp) center/cover;
}
.section-4 .grid-container .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-4 .grid-container .date {
  background-color: rgb(33, 33, 30);
  margin: 0 auto;
  height: 70px;
  width: 70px;
  color: rgb(230, 230, 230);
}
.section-4 .grid-container .date h3 {
  font-family: roboto, arial;
  font-size: 1.5rem;
  padding: 0;
  margin-top: 10px;
}
.section-4 .grid-container .right-part {
  background: url(../img/event-03.webp) center/cover;
}
.section-4 .grid-container .right-part .container {
  background-color: rgb(238, 238, 238);
  padding: 20px;
  height: auto;
  margin: 20px;
  padding-top: 0;
}
.section-4 .grid-container .right-part .container h4 {
  font-family: roboto, arial;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 100;
}
.section-4 .grid-container .right-part .container p {
  font-family: roboto, arial;
  text-transform: capitalize;
  color: rgba(128, 128, 128, 0.562);
  font-size: 0.8rem;
  margin: 20px 0;
}
.section-4 .grid-container .right-part .container button {
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.section-4 .grid-container .right-part .container button:hover {
  cursor: pointer;
  color: rgb(173, 135, 101);
}
.section-4 .grid-container .right-part .container .text {
  display: grid;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  -moz-text-align-last: left;
       text-align-last: left;
}
.section-4 .grid-container .right-part .container .text h4 {
  font-family: roboto, arial;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 100;
}
.section-4 .grid-container .right-part .container .text p {
  font-family: roboto, arial;
  text-transform: capitalize;
  color: rgba(128, 128, 128, 0.562);
  font-size: 0.8rem;
  margin: 20px 0;
}
.section-4 .grid-container .right-part .container .text button {
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.section-4 .grid-container .right-part .container .text button:hover {
  cursor: pointer;
  color: rgb(173, 135, 101);
}
@media screen and (max-width: 1000px) {
  .section-4 .grid-container .right-part .container .text {
    margin: 0;
  }
  .section-4 .grid-container .right-part .container .text button {
    margin: 0;
  }
}
.section-4 .grid-container .right-part .container .date {
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .section-4 .grid-container .right-part .container .date {
    margin: 0 auto;
  }
}
.section-4 .grid-container .right-part .container .date h3 {
  padding-top: 10px;
  margin: 0;
}
.section-4 .grid-container .right-part .container .date p {
  font-family: roboto, arial;
  color: rgb(230, 230, 230);
  margin: 0;
}
.section-4 .grid-container .right-part .container button {
  margin-top: 30px;
}
.section-4 .grid-container #bloc-1 {
  grid-area: hb1;
}
.section-4 .grid-container #bloc-2 {
  grid-area: hb2;
}
.section-4 .grid-container #bloc-3 {
  grid-area: rp;
}

.section-5 {
  height: 50vh;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 810px) {
  .section-5 {
    margin-top: 150px;
  }
}
@media screen and (max-width: 560px) {
  .section-5 {
    height: 600px;
  }
}
@media screen and (max-width: 420px) {
  .section-5 {
    height: 700px;
  }
}
.section-5 #cooker {
  position: absolute;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -40px;
  border-radius: 100px;
  height: 80px;
  margin: 0;
}
.section-5 .text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  padding: 60px;
  font-family: roboto, arial;
}
.section-5 .text p {
  position: relative;
  font-size: 0.9rem;
  line-height: 30px;
  margin-bottom: 30px;
}
.section-5 .text p i {
  position: absolute;
  font-size: 0.7rem;
}
.section-5 .text p #left {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}
.section-5 .text p #right {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}
.section-5 .text h4 {
  font-family: roboto, arial;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.section-5 .text h4,
.section-5 .text h5 {
  text-transform: capitalize;
  font-family: roboto, arial;
}
.section-5 .text h5 {
  font-size: 0.8rem;
  color: rgb(183, 183, 185);
  margin-top: 3px;
}
.section-5 .map {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  bottom: 0;
  background: url(../img/gmap.webp) center/cover;
  width: 100%;
  height: 300px;
}/*# sourceMappingURL=index.css.map */